{% extends 'food/base.html' %}
{% block body %}

<div class="container">
    <div class="row text-center m-3">
        <div class="col-md-6">
            <h3>Product / Food List</h3>
        </div>
        <div class="col-md-6">
            <a href="{% url 'additem' %}" class="btn btn-success">Add Product</a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Item ID</th>
            <th scope="col">Item Name</th>
            <th scope="col">Item Desc</th>
            <th scope="col">Item Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.item_name}}</td>
            <td>{{item.item_desc}}</td>
            <td>{{item.item_price}}</td>
            <td>
              <div class="btn-group">
                <a href="{% url 'update_item' item.id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'delete_item' item.id %}" class="btn btn-primary">Delete</a>
              </div>
            </td>
          </tr>
          {% endfor %}
      </table>
</div>

{% endblock %}